---
# renovate: datasource=github-releases depName=moby/moby
docker_version: "27.5.1"

docker_daemon:
    log-driver: journald
    live-restore: true

docker_systemd_units:
    - name: docker-prune
      type: service
      systemd_unit_generic_options:
          - "Description=Docker Image Prune Service"
      systemd_unit_options:
          - "Type=oneshot"
          - "ExecStart=/usr/bin/docker system prune -af --filter 'until=1h'"

    - name: docker-prune
      type: timer
      systemd_unit_generic_options:
          - "Description=Run docker image prune regularly"
      systemd_unit_options:
          - "OnCalendar=*:0/5"
          - "Persistent=true"

    - name: docker-prune-volumes
      type: service
      systemd_unit_generic_options:
          - "Description=Docker Image Prune Service"
      systemd_unit_options:
          - "Type=oneshot"
          - "ExecStart=/usr/bin/docker system prune -af --volumes"

    - name: docker-prune-volumes
      type: timer
      systemd_unit_generic_options:
          - "Description=Run docker image prune volumes regularly"
      systemd_unit_options:
          - "OnCalendar=weekly"
          - "Persistent=true"
      systemd_unit_install_options:
          - "WantedBy=timers.target"
