---
- name: Restart docker
  become: true
  ansible.builtin.service:
      name: docker
      state: restarted

- name: Start docker
  become: true
  ansible.builtin.service:
      name: docker
      state: started

- name: Enable docker
  become: true
  ansible.builtin.service:
      name: docker
      enabled: true
