---
galaxy_info:
    role_name: fleet
    author: Arillso Team
    description: Manages Rancher Fleet GitRepos and Bundles on Kubernetes
    company: Arillso
    license: MIT
    min_ansible_version: "2.9"
    platforms:
        - name: Ubuntu
          versions:
              - focal
              - jammy
        - name: Debian
          versions:
              - bullseye
              - bookworm
        - name: EL
          versions:
              - "8"
              - "9"

    galaxy_tags:
        - kubernetes
        - rancher
        - fleet
        - gitops
        - deployment
        - k3s
        - container
        - orchestration
        - gitrepo

dependencies: []
